<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fatproject.findatutor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="fatproject.activities.MainAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fatproject.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fatproject.activities.SingUpActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="fatproject.activities.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="fatproject.activities.FragmentDispatcher"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="fatproject.activities.ProcessingActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="@string/title_activity_settings"/>
    </application>

</manifest>